services:
  nginx_proxy:
    image: nginx:latest
    container_name: nginx_proxy
    restart: unless-stopped
    ports:
      - "50018:50018"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - web

networks:
  web:
    external: true
